.App {
  background-color: #fffbd1;
  font-family: "JetBrains Mono", monospace;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.navbar {
  height: 80px;
  background-color: #fce181;
  color: #491d4a;
}

.nav-links-container {
  display: flex;
  justify-content: space-evenly;
}

.search-box {
  font-size: 1.3em;
  border: 2px solid black;
  width: 40vw;
  height: 40px;
  margin: 50px auto 30px auto;
}

.custom-btn-1 {
  background-color: #05555c;
  color: #fff;
  border-radius: 5px;
  display: flex;
}

.card-head-btn {
  background-color: #265073;
  color: #fff;
  border-radius: 5px;
  margin: auto 10px auto 0px;
  border: 0;
  font-size: 13px;
  padding: 5px 10px;
  display: flex;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.accordian {
  height: 500px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 7px 7px;
}

.window {
  width: 40%;
  height: 95%;
  margin: auto 20px;
  border: 2px solid black;
}

.list-card {
  background-color: #fce181;
  color: #491d4a;
  display: flex;
  width: 100%;
  min-height: 60px;
  /* box-shadow: 5px 5px rgba(0, 0, 0, 0.4); */
}

.window-open-border {
  border-radius: 7px 7px 0px 0px;
}

.window-close-border {
  border-radius: 7px;
}
.hidden {
  display: none;
}
